@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,700&display=swap');

body {
    background: rgb(36, 36, 36);
    color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

span {
    color: rgb(170, 46, 46);
    font-size: 25px;
}