@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,700&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/home.css');

html {
    scroll-behavior: smooth;
  }

body {
    background: rgb(36, 36, 36);
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span {
    color: rgb(170, 46, 46);
    font-size: 25px;
}

img {
    max-width: 50%;
    max-height: 50%;
}

.uhl {
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    position: relative;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin: 1.5rem;
}

.header {
    background: rgb(52, 53, 49);
    padding: .7rem;
    margin: 0;
}

.navbar a:hover {
    color: rgb(245, 102, 102);
    z-index: 100;
    transition: .5s;
}

.navbar a:hover::before {
    color: white;
}

table,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
  margin: 2rem;
}

thead,
tfoot {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

th {
    height: 40px;
    border: 1px solid black;
}

.table {
    display: flex;
    flex-wrap: wrap;
}